/* set the size of the pseudo-toggle button control */
div.divToggleCluster input[type=checkbox]:checked + label::before,
div.divToggleCluster input[type=checkbox]:not(:checked) + label::before,
div.divToggleCluster input[type=checkbox] + label {
    width: 80pt;
    height: 20pt;
    line-height: 20pt;
}

/* additional styling: rounded border, gradient */
div.divToggleCluster input[type=checkbox] + label {
    vertical-align: middle;
    text-align: center;
    font-size: 7pt;
    font-family: Arial, Calibri;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    background: #f0f0f0;
    /* gradient style (optional)*/
    background-image: -moz-linear-gradient(top, #fdfdfd, #f9f9f9 50%, #e5e5e5 50%, #fdfdfd);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#fdfdfd), color-stop(0.5, #f9f9f9), color-stop(0.5, #e5e5e5 ), to(#fdfdfd));
    background-image: linear-gradient(to bottom, #fdfdfd, #f9f9f9 50%, #e5e5e5 50%, #fdfdfd);
}


div.divToggleCluster input[type=checkbox]:not(:checked) + label::before {
    content: "Cluster Off";
    color: #303030;
    opacity: 0.6;
}

/* content to display and style pertinent to checked state*/
div.divToggleCluster input[type=checkbox]:checked + label::before {
    content: "Cluster On";
    color: #000090;
    font-weight: bold;
}

.polygonToolTip {
}

.user-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.user-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}
